.favourites__main {
    width: 100%;
    padding: 15px 0;
    min-height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.favourites__main_night {
    background-color:var(--background-darkGrey);
    color: var(--text-light);
}

.container {
    padding: 0 15px;
}

.wrapperFavouriteItems {
    padding: 15px;
}

.wrapperFavouriteItems_night {
    background-color:var(--background-darkGrey);
    color: var(--text-light);
}

.row {
    display: flex;
    flex-wrap: wrap;
}
