@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700&display=swap');

:root {
  --background-dark: #000;
  --background-light: #fff;
  --background-lightGrey: #F5F5F5;
  --background-darkGrey: #1b1c1d;
  --background-grey: rgba(179, 172, 176, 0.1);
  --background-darkBlue: rgba(2,12,27,0.7);
  --background-lightestGrey: #2d3137;
  --text-dark: #3a3a3a;
  --text-light: #fff;
  --text-grey: #7B7C81;
  --overlayDark: rgba(0, 0, 0, 0.6);
  --overlayLight: rgba(255, 255, 255, 0.6);
  --border-lightGrey: #d1d1d1;
  --border-dark: #3a3a3a;
  --border-light: #fff;
  --border-color: rgb(188, 73, 73);
  --font: 'Tajawal', sans-serif;
  --gutter: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

